* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, li, nav, a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.bg_azure {
    background-color: #0084FD;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo {
    margin-left: 20px;
    width: 60px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
margin: 20px;
color: white;
}

.hamburger {
    display: none;
    color: white;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.bg_blu_button {
    background-color: #0084FD;
    color: white;
    border: none;
    padding: 7px 25px;
    border-radius: 25px;
}

.card {
    display: flex;
    margin-top: 30px;
    background-color: #B5DDFF;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 25px;
}

.azure_title {
    color: #0B89FD;
    margin-bottom: 30px;
}

.phone {
    width: 300px;
}

.subtitle {
    line-height: 26px;
    width: 250px;
    margin-bottom: 30px;
}

@media (max-width: 820px)   {
    li {
      display: none;
    }

    .hamburger {
        display: block;
        margin-right: 20px;
    }
  }

  /* iPad Mini e iPad Air visualizzano l'Hamburger ma non la lista con i link. iPad Pro, considerate le dimensioni dello schermo, che sono notevoli, visualizza i link ma non l'Hamburger.  */
  