* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, li, nav, a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.bg_azure {
    background-color: #0084FD;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo {
    margin-left: 20px;
    width: 60px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
margin: 20px;
color: white;
}

.start {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 25px;
}

.hamburger {
    color: white;
    margin-right: 20px;
    display: none;
}

.bg_blu_button {
    background-color: #0084FD;
    color: white;
    border: none;
    padding: 7px 25px;
    border-radius: 25px;
}

.card {
    display: flex;
    margin-top: 30px;
    background-color: #B5DDFF;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 25px;
}

.azure_title {
    color: #0B89FD;
    margin-bottom: 30px;
}

.phone {
    width: 300px;
}

.other-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #B5DDFF;
    border-radius: 25px;
    margin-left: auto;
    width: 380px
}

.three-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #B5DDFF;
    border-radius: 25px;
    width: 320px;
    margin: 15px 10px;
}

.text-center {
    text-align: center;
}

.subtitle {
    line-height: 26px;
    width: 250px;
    margin-bottom: 30px;
}

.clean-code-mr-top {
    margin-top: 30px;
}

.clean-code {
    color: #0084FD;
    font-size: 45px;
    margin-bottom: 30px;
}


/* Da qui in avanti iniziano le media queries.  */

@media (max-width: 1200px) {
    .container {
        max-width:  1100px;
        width: 100%;
    }

}

@media (max-width: 992px) {
    .container {
        max-width:  880px;
        width: 100%;
    }

}

@media (max-width: 720px) {
    .container {
        max-width:  680px;
        width: 100%;
    }

}

@media (max-width: 685px) {
    .container {
        max-width:  600px;
        width: 100%;
    }

    li {
        display: none;
    }

    .hamburger {
        display: block;
    }
}